.w-800{
    max-width: 800px;
}

.company-title{
    font-size: 18px;
    font-weight: bold;
}

.invoice-title{
    color: #fcff00;
    font-size: 28px;
}

.billing-title{
    color: #fcff00;
    font-size: 18px;
    font-weight: bold;
}

.orange-border{
    border-color: #fcff00 !important;
}

.billing-box{
    background-color: white;
}

.table-header{
    border-color: #fcff00 !important;
    color: white !important;
    background-color: #fcff00!important;
}

.totals-box{
    font-size: 16px;
    font-weight: bold;
    background-color: #fcff00;
}

.total-highlight,.template1 .company-title{
    color: #fcff00;
}

.template1 *:hover{
    transform: none !important;
}